#root {
  max-width: 414px;
  min-height: 796px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background: white;
  border-radius: 20px;
}

.nopadding{
  padding: 0px !important ;
}

